extends layout 

block content 

  h1= title 

  form(action="" method="POST")
    label(for="memberPassword") Enter the Member Password.
    input(type="text" name="memberPassword" id="memberPassword" placeholder="(hint: McDonald's)")
    