extends layout 

block content 

  h1= title 

  form(action="" method="POST") 
    div 
      label(for="first_name") First Name:
      input(type="text" id="first_name" name="first_name")
    div
      label(for="last_name") Last Name: 
      input(type="text" id="last_name" name="last_name")
    div 
      label(for="username") Username:  
      input(type="text" id="username" name="username")
    div 
      label(for="password") Password:  
      input(type="password" id="password" name="password")
    div 
      label(for="admin") Admin?
      input(type="checkbox" id="admin" name="admin")
    button(type="submit") Sign Up

  if errors 
    for error in errors 
      li= error.msg  

    